*.suo
*.user
*.sdf
*.opensdf
.vs/
Debug-wasm/
Debug-emscripten/
Debug-vs2012/
Debug-vs2012x64/
Debug-vs2013/
Debug-vs2013x64/
Debug-vs2015/
Debug-vs2015x64/
Release-wasm/
Release-emscripten/
Release-vs2012/
Release-vs2012x64/
Release-vs2013/
Release-vs2013x64/
Release-vs2015/
Release-vs2015x64/
